@use 'vars';
button{
    border: 4px solid black;
    background-color: white;
}
.abc-buttons{
    font-family: vars.$font-abc-buttons;
    font-size: 3rem;
    width: 3rem;
    height: 4rem;   
    text-align: center;
}
.abc-buttons:active{
    color: black;
}
#play{
    width: 10rem;
    height: 10rem;
    border: none;
}
.theme-buttons{
    border: none;
}