@use 'vars';
.abc-buttons{
    font-family: vars.$font-abc-buttons;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid orange;
    background: yellow;
    
}
.abc-buttons:disabled{
    
    pointer-events: none;
}
.abc-buttons:active{
    color: black;
}
.abc-buttons:hover{
    background:orange;
}
#play{
    width: 10rem;
    height: 10rem;
    border: none;
    background: vars.$background-green;
}
.theme-buttons{
    border: 2px solid #f3da35;
    border-radius: 10px;
    font-family: vars.$font-abc-buttons;
    font-size: 3rem;
    width: 11rem;
    height: 6rem;  
    color: wheat;
    justify-items: center;
}
.theme-buttons:hover{
    background: #B14009;
}
.main-theme-container button{
    background: vars.$background-green;
}
.backButton{
    background: vars.$background-green;
}
header button{
    border: none;
}
.fa-solid:hover {
    color: red;
}