@use 'vars';
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden; //Prevents the scroll bar 
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    background: vars.$background-green;;

}
.flexcontainer-hangman img{
    width: 35rem;
    height: 35rem;
}
.flexcontainer-playarea{
    display: flex;
    flex-direction: column;
    height: 30rem;
    gap: 2rem;
    align-items: center;
}
.flexcontainer-playarea-buttons{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.main-theme-container{
    background: vars.$background-green;
}
.logo-image{
    background-color:vars.$background-green;
}
.front-page-flex-container{
    display: flex;
    flex-direction: column;
    background: vars.$background-green;
    align-items: center;
}
.themeButtonsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
    justify-items: center;
}
.fa-solid{
    color:coral;
}