.flexcontainer{
    display: flex;
    flex-direction: row;
}
.flexcontainer-playarea{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 30rem;
}
.flexcontainer-playarea-buttons{
    padding-top: 10px;
}