@use 'vars';
body{
    padding: 0px;
    margin: 0px;
}
main{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: vars.$background-green;
}
header{
    background: #006F37;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: wheat;
}
header img{
    width:2rem;
    height: 2rem;
}
img {
    width: 19rem;
    height: 17rem;
}
button i{
    background: #006F37;
}
.character-words{
    text-decoration: none;
    font-family: vars.$font-abc-buttons;
    font-size: 3rem;
    width: 3rem;
    height: 4rem; 
    color: ghostwhite;
}
h2{
    color: #B14009;
    background: #006F37;
    text-align: right;
    width: 100%;
    padding-right: 3rem;
}
header h2{
    font-size: 3rem;
}