.flexcontainer {
  display: flex;
  flex-direction: row;
}

.flexcontainer-playarea {
  display: flex;
  flex-direction: column;
  height: 30rem;
}

.flexcontainer-playarea-buttons {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

header {
  text-align: center;
}

.character-words {
  text-decoration: underline;
}

button {
  border: 4px solid black;
  background-color: white;
}

.abc-buttons {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3rem;
  width: 3rem;
  height: 4rem;
}