html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  background: #006F37;
}

.flexcontainer-hangman img {
  width: 35rem;
  height: 35rem;
}

.flexcontainer-playarea {
  display: flex;
  flex-direction: column;
  height: 30rem;
  gap: 2rem;
  align-items: center;
}

.flexcontainer-playarea-buttons {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.main-theme-container {
  background: #006F37;
}

.logo-image {
  background-color: #006F37;
}

.front-page-flex-container {
  display: flex;
  flex-direction: column;
  background: #006F37;
  align-items: center;
}

.themeButtonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.fa-solid {
  color: coral;
}

.starClass {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3rem;
  color: wheat;
}

body {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #006F37;
}

header {
  background: #006F37;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: wheat;
}

header img {
  width: 2rem;
  height: 2rem;
}

img {
  width: 19rem;
  height: 17rem;
}

button i {
  background: #006F37;
}

.character-words {
  text-decoration: none;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3rem;
  width: 3rem;
  height: 4rem;
  color: ghostwhite;
}

h2 {
  color: #B14009;
  background: #006F37;
  text-align: right;
  width: 100%;
  padding-right: 3rem;
}

header h2 {
  font-size: 3rem;
}

.abc-buttons {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 20px;
  border: 2px solid orange;
  background: yellow;
}

.abc-buttons:disabled {
  pointer-events: none;
}

.abc-buttons:active {
  color: black;
}

.abc-buttons:hover {
  background: orange;
}

#play {
  width: 10rem;
  height: 10rem;
  border: none;
  background: #006F37;
}

.theme-buttons {
  border: 2px solid #f3da35;
  border-radius: 10px;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3rem;
  width: 11rem;
  height: 6rem;
  color: wheat;
  justify-items: center;
}

.theme-buttons:hover {
  background: #B14009;
}

.main-theme-container button {
  background: #006F37;
}

.backButton {
  background: #006F37;
}

header button {
  border: none;
}

.fa-solid:hover {
  color: red;
}

@media screen and (min-width: 764px) {
  .flexcontainer-playarea {
    max-width: 42rem;
  }

  header h2 {
    text-align: center;
    font-size: 6rem;
  }
}
@media screen and (max-width: 764px) {
  .flexcontainer-hangman {
    display: none;
    width: 10rem;
    flex: 1 1 0;
    width: 0;
  }

  .flexcontainer-hangman img {
    width: 10rem;
    height: 10rem;
  }
}